.button {
    -fx-background-color: #FFC527;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-transition: all 0.25s ease-in-out;
}

.button:hover {
    -fx-background-color: #1ECD97;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-text-fill: white;
    -fx-letter-spacing: 2px;
}

.button.success {
    -fx-background-color: #1ECD97;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.button.error {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.button.loading {
    -fx-background-color: white;
    -fx-text-fill: #bbbbbb;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
