.my-style {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #dcdcdc;
    -fx-background-color: #f5f5f5;
}

.my-buttonstyle {
    -fx-border-color: #dcdcdc;
    -fx-background-color: #f5f5f5;
}
